src/main/mule/batch-file.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="047d166b-43ad-4b36-a34b-a51d52b00a18" >
		<http:listener-connection host="0.0.0.0" port="8085" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="6392d2eb-f229-4e2e-9c0f-566aaeaee16a" >
		<file:connection workingDir="C:\Users\hailu\Desktop\Test-Batching" />
	</file:config>
	<file:config name="File_Config1" doc:name="File Config" doc:id="bb289305-9084-4584-8269-28fec0572ac7" >
		<file:connection workingDir="C:\Users\hailu\Desktop\Test-Batching1" />
	</file:config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="0f27bc2e-aa6a-4e4b-81a6-8383f41afbf5" >
		<db:mssql-connection host="localhost" port="1433" user="joni" password="123456" databaseName="ethiopia" />
	</db:config>
	<flow name="Main-Flow" doc:id="9a2577d7-a2b9-4a2a-bf37-bcd4498b909e" >
		<http:listener doc:name="Listener" doc:id="f174da17-cc5e-45ac-8d8b-ad69c8f67c81" config-ref="HTTP_Listener_config1" path="/test" >
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="28dc8fc2-14d5-41ad-a764-5db1fc4aa6e3" message="#[payload]" />
		<db:select doc:name="Select" doc:id="074dfd05-9634-404e-9cd4-05bc81ef377c" config-ref="Database_Config">
			<db:sql ><![CDATA[select Id,fullname,status from test where Id=:Id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{Id: attributes.queryParams.Id}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="7c2b18a0-64a9-4a6d-a4b4-1ee53bbcc538">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	Id: payload01.Id ,
	fullname: payload01.fullname ,
	status: payload01.status 
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="53feefec-d3a1-4583-8e27-5b6de1ad12a3" message="#[payload]" />
		<choice doc:name="Choice" doc:id="fc105311-df41-4dfc-b3ae-d8f22aba271a">
			<when expression="#[payload.status == 'A']">
						<file:write doc:name="ActiveWrite" doc:id="f015e77b-6a85-4226-964b-c751e3a11893" path="C:\Users\hailu\Desktop\Test-mule-file2\active.txt" config-ref="File_Config" />
					</when>
					<when expression="#[payload.status == 'I' ]">
				<file:write doc:name="InactiveWrite" doc:id="63eaeeba-6a1f-4045-90b8-266bf832228c" config-ref="File_Config1" path="C:\Users\hailu\Desktop\Test-mule-file2\inactive.txt" />
			</when>
			<otherwise>
						<logger level="INFO" doc:name="Logger" doc:id="2a59eb7f-258a-41f9-9827-f866e87ed17d" message="payload" />
			</otherwise>
		</choice>
	</flow>
</mule>
